<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitel}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table"
            *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button>
                                Show Image
                            </button>
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Available
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Five Star Rating
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td></td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>